<h1>Play!</h1>
<h2>Marvel Character Combat Arena</h2>
<h2>Who will battle today?</h2>

<h3>Enter both characters:</h3>
<%= form_tag '/play' do %>
  <%= label_tag :character_one %>
  <%= text_field_tag :character_one %>
  <%= label_tag :character_two %>
  <%= text_field_tag :character_two %>
  <%= label_tag 'Pick a number' %>
  <%= number_field_tag :num, nil, min: "1", max: "9" %>
  <%= submit_tag "Submit" %>
<% end %>

<p>Don't know which character you want? <%=link_to "Search Characters", characters_path%></p>


<%if @character_one && @character_two%>
  <div class="clearfix">
    <div class="players">
      <div class="character_play">
        <div class="name"><%=@character_one[0]["name"]%></div>
        <div class="thumbnail"><%= image_tag @character_one[0]['thumbnail']['path'] + '.jpg' %></div>
      </div>
      <div class="text"><h1> VS </h1></div>

      <div class="character_play">
        <div class="name"><%=@character_two[0]["name"]%></div>
        <!-- I need to refactor this later so the name is a helper method -->
        <div class="thumbnail"><%= image_tag @character_two[0]['thumbnail']['path'] + '.jpg' %></div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="winner">
      <%if @word_one.length > @word_two.length%>
        <h1>The winner is: <%=@character_one[0]["name"]%></h1>
      <%elsif @word_one.length < @word_two.length%>
        <h1>The winner is: <%=@character_two[0]["name"]%></h1>
      <%else%>
        <h1>It's a draw!</h1>
      <%end%>
    </div>
  </div>
  <br></br>





<%end%>
