<h1>Marvel Character Combat Arena</h1>
<h2>Who will battle today?</h2>

<h3>Enter both characters:</h3>
<%= form_tag '/play' do %>
  <%= label_tag :character_one %>
  <%= text_field_tag :character_one %>
  <br>
  <%= label_tag :character_two %>
  <%= text_field_tag :character_two %>
  <br>
  <%= label_tag 'Pick a number' %>
  <%= number_field_tag :num, nil, min: "1", max: "9" %>
  <br>
  <%= submit_tag "Submit" %>
<% end %>

<p>Don't know which character you want? <%=link_to "Search Characters", characters_path%></p>


<%if @word_one && @word_two %>
  <div class="player">
    <div class="clearfix">
      <div class="character_play">
        <div class="name"><%= link_to name(@character_one), url(@character_one)%></div>
        <div class="thumbnail"><%= image_tag img(@character_one)%></div>
      </div>
      <div class="text"><h1> VS </h1></div>

      <div class="character_play">
        <div class="name"><%= link_to name(@character_two), url(@character_two)%></div>
        <div class="thumbnail"><%=image_tag img(@character_two)%></div>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="winner">
      <%if (@one_magic && @two_magic) || (@character_one == @character_two)%>
        <h1>It's a draw!</h1>
      <%elsif @one_magic%>
        <h1>The winner is: <%=name(@character_one)%></h1>
        <p><%=description(@character_one)%></p>
      <%elsif @two_magic%>
        <h1>The winner is: <%=name(@character_two)%></h1>
        <p><%=description(@character_two)%></p>
      <%elsif @word_one.length == @word_two.length%>
        <h1>It's a draw!</h1>
      <%elsif @word_one.length > @word_two.length%>
        <h1>The winner is: <%=name(@character_one)%></h1>
        <p><%=description(@character_one)%></p>
      <%else @word_one.length < @word_two.length%>
        <h1>The winner is: <%=name(@character_two)%></h1>
        <p><%=description(@character_two)%></p>
      <%end%>
    </div>
  </div>
  <br></br>

<%elsif @error%>

  <h2>Sorry, <%=@error%></h2>

<%end%>
